scheduler:
  cron_pattern: {{ app.scheduler.cron_pattern }}
  logger:
    loglvl: info
    mode: production
    encoding: json
  scraper:
    output_every: {{ app.scraper.output_every }}
    max_depth: {{ app.scraper.max_depth }}
    filter_pattern: {{ app.scraper.filter_pattern }}
    tags_to_parse: {{ app.scraper.tags_to_parse }}
    is_async: {{ app.scraper.is_async }}
    # async_delay: 3s
    # async_request_limit: 5
    user_agent: "{{ app.scraper.user_agent }}"
    headers:
      User-Agent: "{{ app.scraper.headers.User-Agent }}"
      Accept: "{{ app.scraper.headers.Accept }}"
      Accept-Language: "{{ app.scraper.headers.Accept-Language }}"
      Accept-Encoding: "{{ app.scraper.headers.Accept-Encoding }}"
      Connection: "{{ app.scraper.headers.Connection }}"
  sites:
  {% for site in app.sites %}
    - {{ site }}
  {% endfor %}

kafka:
  max_retry: {{ kafka.max_retry }}
  brokers:
  {% for broker in kafka.brokers %}
    - {{ broker }}
  {% endfor %}
  topics:
    scraper_data: "{{ kafka.topic }}"
